<!--begin plan-->
<section class="plan" style="background-image: url('img/bg_body.jpg')">
    <div class="pseudo" data-relative-input="true" id="scene">
        <div class="pseudo__tomato" data-depth="0.2"><img src="img/img_tomato.png" alt="Tomato"></div>
    </div>
    <div class="container">
        <div class="plan__title">
            <h2 class="s_title">So könnte Dein Wochenplan aussehen</h2>
        </div>
        <div class="choose__list choose_list meals" >
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_clock.png" id="clock" alt="Clock">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">30 Minuten Rezepte</h3>
                </div>
            </div>
            <!--end choose item-->
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_dinner.png" id="dinner" alt="Dinner">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">Quickies mit 3 Zutaten</h3>
                </div>
            </div>
            <!--end choose item-->
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_map.png" id="map" alt="Map">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">To go - Essen unterwegs</h3>
                </div>
            </div>
            <!--end choose item-->
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_joker.png" id="joker" alt="Joker">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">JOKER Mahlzeiten</h3>
                </div>
            </div>
            <!--end choose item-->
        </div>
        <div class="plan__table plan_table">
            <div class="plan__row">
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Mahlzeit</h3>
                    </div>
                    <div class="plan_col__name">
                        <p>Frühstück</p>
                    </div>
                    <div class="plan_col__name">
                        <p>Mittagessen</p>
                    </div>
                    <div class="plan_col__name">
                        <p>Abendessen</p>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Montag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_clock.png" alt="Clock"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Dienstag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_map.png" alt="Map"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_clock.png" alt="Clock"></i>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Mittwoch</h3>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_map.png" alt="Map"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_clock.png" alt="Clock"></i>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Donnerstag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_map.png" alt="Map"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_joker.png" alt="Joker"></i>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Freitag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_map.png" alt="Map"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Samstag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_clock.png" alt="Clock"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_joker.png" alt="Joker"></i>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Sonntag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_dinner.png" alt="Dinner"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_clock.png" alt="Clock"></i>
                    </div>
                    <div class="plan_col__icon">
                        <i><img src="img/icon_clock.png" alt="Clock"></i>
                    </div>
                </div>
                <!--end plan col-->
            </div>
        </div>
        <div class="plan__btns">
            <a class="btn_red" href="/screen_5.html">Wochenplan anpassen</a>
            <a class="btn_empty" href="/screen_5.html">Wochenplan stimmt so für mich</a>
        </div>
    </div>
</section>
<!--end plan-->