<!--begin plan-->
<section class="plan choose" style="background-image: url('img/bg_s_2.jpg')">
    <div class="modal_bl modal_bl__over">
        <div class="modal">
            <div class="modal__close">
                <a href="#/"><img src="img/icon_close.svg" alt="Close"></a>
            </div>
            <div class="modal__title">
                <h3 class="title">Vielen Dank!</h3>
            </div>
            <div class="modal__text">
                <p>Wir melden uns bei dir, sobald es weitergeht!</p>
            </div>
            <div class="modal__icon">
                <img src="img/icon_modal.svg" alt="Modal">
            </div>
            <div class="modal__info modal_info">
                <div class="modal_info__title">
                    <h4 class="title">Noch Fragen oder etwas das wir wissen sollten?</h4>
                </div>
                <div class="modal_info__list modal_list">
                    <div class="modal_list__name">Schreib uns an</div>
                    <div class="modal_list__mail"><a href="mailto:mail@mail.com">mail@mail.com</a></div>
                    <div class="modal_list__name">oder rufe uns an</div>
                    <div class="modal_list__tel"><a href="tel:+12345678901">+1 234 567-89-01</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pseudo" data-relative-input="true" id="scene">
        <div class="pseudo__tomato" data-depth="0.2"><img src="img/img_tomato.png" alt="Tomato"></div>
    </div>
    <div class="container">
        <div class="plan__title choose__title">
            <h2 class="s_title">Dein Wochenplan</h2>
        </div>
        <div class="plan__text choose__text">
            <img src="img/icon_plan_arrow.svg" alt="Arrow">
            <p>Individualisiere deinen Wochenplan ganz nach deinen Wünschen. <b>Ziehe die einzelnen Icons</b> in die entssprechende Mahlzeit rein und wir schicken dir genussvolle gelingsichere Rezepte zu!</p>
        </div>
        <div class="choose__list choose_list meals" >
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_clock.png" id="clock" alt="Clock">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">30 Minuten Rezepte</h3>
                </div>
            </div>
            <!--end choose item-->
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_dinner.png" id="dinner" alt="Dinner">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">Quickies mit 3 Zutaten</h3>
                </div>
            </div>
            <!--end choose item-->
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_map.png" id="map" alt="Map">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">To go - Essen unterwegs</h3>
                </div>
            </div>
            <!--end choose item-->
            <!--begin choose item-->
            <div class="choose_list__item choose_item">
                <div class="choose_item__icon">
                    <img src="img/icon_joker.png" id="joker" alt="Joker">
                </div>
                <div class="choose_item__title">
                    <h3 class="title">JOKER Mahlzeiten</h3>
                </div>
            </div>
            <!--end choose item-->
        </div>
        <div class="plan__table plan_table choose__table">
            <div class="plan__row">
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Mahlzeit</h3>
                    </div>
                    <div class="plan_col__name">
                        <p>Frühstück</p>
                    </div>
                    <div class="plan_col__name">
                        <p>Mittagessen</p>
                    </div>
                    <div class="plan_col__name">
                        <p>Abendessen</p>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Montag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Dienstag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Mittwoch</h3>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Donnerstag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Freitag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Samstag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                </div>
                <!--end plan col-->
                <!--begin plan col-->
                <div class="plan_table__col plan_col">
                    <div class="plan_col__title">
                        <h3 class="title">Sonntag</h3>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                    <div class="plan_col__icon">
                        <label class="drop-zone"><input type="checkbox"></label>
                    </div>
                </div>
                <!--end plan col-->
            </div>
        </div>
        <div class="plan__btns">
            <a class="btn_red" href="#/">Senden</a>
        </div>
    </div>
</section>
<!--end plan-->