<!--begin about-->
<section class="about" style="background-image: url('img/bg_body.jpg')">
    <div class="pseudo" data-relative-input="true" id="scene">
        <div class="pseudo__dish" data-depth="0.1"><img src="img/dish.png" alt="Dish"></div>
        <div class="pseudo__tomato" data-depth="0.2"><img src="img/img_tomato.png" alt="Tomato"></div>
    </div>
    <div class="container">
        <div class="about__block">
            <div class="about__title">
                <h3 class="s_title">Schlank werden mit Genuss</h3>
            </div>
            <div class="about__text">
                <p><b>Keine Diät</b> - wir bieten Dir einen genussvollen, gesunden und auf Dich abgestimmten Ernährungsplan!</p>
            </div>
            <div class="about__wrapper about_wrap">
                <!--begin about item-->
                <div class="about_wrap__item about_item bg_salat">
                    <div class="about_item__icon">
                        <img src="img/icon_works_1.svg" alt="Icon">
                    </div>
                    <div class="about_item__title">
                        <h3 class="title">Iss dich satt,
                            habe keinen Hunger</h3>
                    </div>
                </div>
                <!--end about item-->
                <!--begin about item-->
                <div class="about_wrap__item about_item bg_blue">
                    <div class="about_item__icon">
                        <img src="img/icon_works_2.svg" alt="Icon">
                    </div>
                    <div class="about_item__title">
                        <h3 class="title">Zähle
                            keine Kalorien</h3>
                    </div>
                </div>
                <!--end about item-->
                <!--begin about item-->
                <div class="about_wrap__item about_item bg_green_dark">
                    <div class="about_item__icon">
                        <img src="img/icon_works_3.svg" alt="Icon">
                    </div>
                    <div class="about_item__title">
                        <h3 class="title">Koche,
                            was du Lust hast</h3>
                    </div>
                </div>
                <!--end about item-->
                <!--begin about item-->
                <div class="about_wrap__item about_item bg_green_light">
                    <div class="about_item__icon">
                        <img src="img/icon_works_4.svg" alt="Icon">
                    </div>
                    <div class="about_item__title">
                        <h3 class="title">Integrierbar
                            in dein Leben</h3>
                    </div>
                </div>
                <!--end about item-->
            </div>
            <div class="about__btn about_btn">
                <a class="btn_empty" href="/screen_2.html">So funktioniert's</a>
                <a class="btn_red" href="/screen_4.html">Jetzt abnehmen</a>
            </div>
        </div>
    </div>
</section>
<!--end about-->